@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-white;
}

@font-face {
  font-family: 'PixelMplus';
  src: url('./fonts/PixelMplus12-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'PixelMplus';
  src: url('./fonts/PixelMplus12-Bold.ttf') format('truetype');
  font-weight: bold;
}

:root {
  --toastify-font-family: unset;
}

.Toastify__toast {
  border: 4px solid white;
  border-radius: 0;
}

.Toastify__toast--error {
  color: red;
}

/* .Toastify__toast--error svg {
  stroke: red;
  fill: red;
} */
