@font-face {
  font-family: 'PixelMplus';
  src: url('./fonts/PixelMplus12-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'PixelMplus';
  src: url('./fonts/PixelMplus12-Bold.ttf') format('truetype');
  font-weight: bold;
}
