# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# connect_timeoutについて
# https://github.com/prisma/prisma/discussions/10631
# https://stackoverflow.com/questions/68476229/m1-related-prisma-cant-reach-database-server-at-database5432

DATABASE_URL="postgresql://prisma:prismapass@localhost:5432/prismadb?schema=public&connect_timeout=300"

JWT_ISSUER="tra1000"
JWT_AUDIENCE="tra1000"
AUTH_HMAC_SECRET="YOUR_OWN_HMAC_SECRET"
AUTH_HMAC_PEPPER="YOUR_OWN_HMAC_PEPPER"
AUTH_JWT_SECRET="YOUR_OWN_JWT_SECRET"
AUTH_FT_CLIENT_ID="YOUR_42_API_CLIENT_ID"
AUTH_FT_CLIENT_SECRET="YOUR_42_API_CLIENT_SECRET"
CHAT_HMAC_SECRET="YOUR_OWN_CHAT_SECRET"
CHAT_HMAC_PEPPER="YOUR_OWN_CHAT_PEPPER"
